html {
	background: url(http://www.tubkaakresort.com/images/slide-cooking-class01.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
body {
	background-color: #FFF;
	background-color: rgba(255,255,255,0.6);
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
}
.new-recipe, .menu, .shopping-list {
	padding: 1em;
	border-top: 1px solid #CCC;
}
.menu, .shopping-list {
	min-height: 100vh;
}
.menu-item, .shopping-list-item {
	border-top: 1px solid #CCC;
}
.inMenu {
	background-color: #DDD;
	background-color: rgba(221,221,221,0.6);
}
.navbar-default {
	background-color: #FFCF79;
	border-color: transparent;
	border-radius: 0;
	margin: 0;
}
.navbar-default .navbar-brand {
	color: #FFF;
}
.navbar-default .navbar-brand:hover {
	color: #000;
}
.navbar-default .navbar-nav li a {
	color: #FFF;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
}
.navbar-default .navbar-toggle:hover {
	background-color: #000;
}
.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.panel .panel-heading {
	background-color: #FFCF79;
	font-size: 20px;
	color: #FFF;
}
@media screen and (max-width: 800px) {
	.navbar-default {
		margin: 0;
	}
}
